.blueimp-gallery>.title {
  text-shadow: none;
  opacity: 1;
  top: 5px;
  font-size: inherit;
  font-weight: bold;
}

.blueimp-gallery > .prev, .blueimp-gallery > .next {
  font-family: Arial, sans-serif;
}

.blueimp-gallery > .indicator > li {
  background-size: cover;
}
@media (min-width: 800px){
  .blueimp-gallery > .indicator > li {
    height: 29px;
    width: 29px;
  }
}

.blueimp-gallery > .description {
  position: absolute;
  top: 35px;
  left: 15px;
  color: #fff;
  display: none;
  margin-right: 60px;
}

.blueimp-gallery-controls > .description {
  display: block;
}