.fancy-gallery.collage {
  padding: 15px;
}

.fancy-gallery.collage figure a {
  width: auto;
  padding: 0;
}
.fancy-gallery.collage figure img {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  display: block;
}

.fancy-gallery.collage figure {
  -moz-transform: rotate(-4deg);
  -webkit-transform: rotate(-4deg);
  -o-transform: rotate(-4deg);
  -khtml-transform: rotate(-4deg);
  transform: rotate(-4deg);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -khtml-border-radius: 4px;
  margin: -6px;
  overflow: visible;
  border-radius: 4px;
  border: 4px solid #f1f1f1;
  width: 20%;
}

.fancy-gallery.collage figure .gallery-icon {
  padding: 0;
}

.fancy-gallery.collage figure:nth-child(even) {
  -moz-transform: rotate(4deg);
  -webkit-transform: rotate(4deg);
  -o-transform: rotate(4deg);
  -khtml-transform: rotate(4deg);
  transform: rotate(4deg);
}

.fancy-gallery.collage figure:hover {
  -moz-transform: rotate(0);
  -webkit-transform: rotate(0);
  -o-transform: rotate(0);
  -khtml-transform: rotate(0);
  transform: rotate(0);
  z-index: 1000;
}