div.capability-selection span.caption { display: inline-block; width: 275px; }
div.capability-selection input { margin-left: 15px; }
.postbox .hndle { cursor: pointer; }
div.capability-selection.highlight1 { background-color: #eee; }
div.capability-selection.highlight2 { background-color: #ddd; }
input[type="number"]{ width: 80px }
.asterisk { }
img.premium-banner { max-width: 100%; height: auto; border-radius: 3px }
.settings_page_wordpress-plugin-fancy-gallery-options .button.button-block { display: block; text-transform: uppercase; font-weight: bold; text-align: center }
.settings_page_wordpress-plugin-fancy-gallery-options .button.button-large { font-size: 125%; padding: 10px; height: auto }